<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication4.Properties.Settings>
            <setting name="MainDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SubDir1" serializeAs="String">
                <value />
            </setting>
            <setting name="SubDir2" serializeAs="String">
                <value />
            </setting>
            <setting name="ListFilename" serializeAs="String">
                <value>StoryList.txt</value>
            </setting>
            <setting name="ReraxationMp3" serializeAs="String">
                <value />
            </setting>
            <setting name="ReraxationEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReraxationTime" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ReraxationInterval" serializeAs="String">
                <value>15</value>
            </setting>
        </WindowsFormsApplication4.Properties.Settings>
    </userSettings>
</configuration>